/*
    Main CSS
*/

@import "_normalize.less";
@import "_mixin.less";
@import "_variable.less";
@import "_bootstrap.less";

/* Common Styles */

// Common

html,
body {
    font-family: "museo-sans", 'Helvetica Neue', 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background: @bg;
    color: @base;
    font-weight: 300;
}

a {
    color: @link;

    &:hover {
        color: @hover;
    }

}

::selection,
::-moz-selection {
    background: @selection;
    color:#fff;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "museo-sans", 'Helvetica Neue', 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif !important;
    color: @header;
    font-weight: 100;
    a,a:hover {
        color: @header;
        text-decoration: none;
    }
}

// ボタン

.btn-primary {
    background-color: @bg;
    border: 1px solid #fff;
    &:hover {
        color: @bg;
        background-color: #fff;
        border: 1px solid #fff;
    }
}

.container {

    code {
        font-size: 90%;
        color: #fff;
        background-color: transparent;
        border-radius: 2px;
        border: none;
        padding: 0;
    }


    .btn-lg {
        margin-top: 20px;
        margin-bottom: 5px;
        padding: 18px 24px;
        font-size: 21px;
    }

}

// header

#header {
    text-align: center;
    padding: 8em 0 5em;

    h1 {
        font-weight: 100;
        font-size: 160px;
        line-height: 1;
        margin: 0;
    }

    h2 {
        font-size: 40px;
        line-height: 1;
        margin: 0 0 10px 0;
    }
}

// intro

.intro {
    text-align: center;

    h2 {
        text-align: center;
        font-size: 50px;
    }

    .col-lg-4 {
        text-align: center;

        i {
            font-size: 6em;
        }

        p {
            text-align: left;
        }
    }
}

.social-buttons {

    display: inline-block;
    margin-bottom: 20px;
    padding-left: 0;
    list-style: none;

    li {
        display: inline-block;
        line-height: 1;

        a {
            display: inline;
        }
    }
}

#footer {
    text-align: center;
    margin: 2em 0;
}

/* End Common Styles */

@import "_media-queries.less";