// buttons
.btn {
    display: inline-block;
    text-align: center;
    padding: .6rem 1rem;
    cursor: pointer;
    line-height: 1.5;
    font-size: .85rem;
    overflow: hidden;
    color: $link;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid $link;
    transition: all .2s;
    &:hover {
        background-color: $link;
        color: #fff;
        text-decoration: none;
        border-color: transparent;
    }
}
.btn-light {
    border-color: darken($border, 8%);
    color: $text-light;
    &:hover {
        background-color: $text-light;
        border-color: transparent;
        color: #fff;
    }
}
.btn-primary {
    background-color: $link;
    color: #fff;
    &:hover {
        background-color: $hover;
        color: #fff;
    }
}
.btn-lg {
    padding: .8em 2em;
    font-size: 1.1rem;
}
