.globalHeader-row {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: .9rem;
    @media #{$mq-md} {
        font-size: 1rem;
    }
    a {
        color: $bg;
        display: inline-block;
        padding: 1rem;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.globalHeader-left {
    a {
        padding-left: 0;
    }
}
.navbar-ul {
    display: flex;
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        list-style: none;
        &:last-child a {
            padding-right: 0;
        }
    }
}
