.hero {
    background: $link;
    text-align: center;
    color: $bg;
    h1 {
        font-size: 3rem;
        font-weight: normal;
        margin: 0 0 .5rem;
        color: $bg;
        text-transform: uppercase;
        @media #{$mq-md} {
            font-size: 5rem;
        }
        .bold {
            font-weight: bold;
        }
    }
    h2 {
        font-size: 1.2rem;
        margin: .5rem auto;
        font-weight: normal;
        color: $bg;
        @media #{$mq-md} {
            font-size: 1.5rem;
        }
    }
    .btn-wrapper {
        margin: 2rem auto;
        text-transform: uppercase;
        @media #{$mq-md} {
            margin: 3rem auto;
        }
        .btn {
            min-width: 15rem;
        }
    }
}
.hero-inner {
    @include section();
}
.hero-aside {
    text-transform: uppercase;
    font-size: .65rem;
    letter-spacing: .05rem;
    .version {
        opacity: .7;
    }
    a {
        color: $bg;
    }
}
