@@include('_header.html', {
  "title": "Styleguide"
})

  <div class="l-container">
    <h1>Rin</h1>
    <h2>Components Guide</h2>
  </div>

  <div class="l-container">
    <h1>Grid System</h1>
    <div class="l-row">
      <div class="l-span6">
        l-span6
      </div>
      <div class="l-span6">
        l-span6
      </div>
    </div>
    <div class="l-row">
      <div class="l-span4">
        l-span4
      </div>
      <div class="l-span4">
        l-span4
      </div>
      <div class="l-span4">
        l-span4
      </div>
    </div>
    <div class="l-row">
      <div class="l-span3">
        l-span3
      </div>
      <div class="l-span3">
        l-span3
      </div>
      <div class="l-span3">
        l-span3
      </div>
      <div class="l-span3">
        l-span3
      </div>
    </div>
  </div>


  <div class="l-container">
    <h1>Buttons</h1>
    <span class="btn">Publish</span>

    <span class="btn btn-light">Save Draft</span>

    <span class="btn btn-primary">Register</span>

    <span class="btn btn-large">Get Started</span>

  </div>

@@include('_footer.html')