<% var
pageId = "index";
pageUrl = "";
pageDescription = "A lean, gulp-based HTML and SASS boilerplate by sanographix";
%>
<% include _header %>

  <nav class="l-globalheader js-globalheader">
    <div class="l-container">
      <div class="l-globalheader-box">
        <div class="l-globalheader-left">
          <a class="navbar-brand" href="/">Rin 4</a>
        </div>
        <div class="l-globalheader-right">
          <ul class="navbar-ul">
            <li id="socialarea_twitter">
              <a href="https://twitter.com/share?text=Rin - A lean, gulp-based HTML and SASS boilerplate by sanographix&url=http://sanographix.github.io/rin/" class="btn btn-tw" onClick="ga('send', 'event', 'share-twitter', 'Click', 'navbar');javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=510');return false;">
                <img src="http://static.tumblr.com/xlsgtjb/mmZndl3sh/twitter.svg" width="14px">
                <span class="label">Tweet</span>
              </a>
            </li>
            <li id="socialarea_facebook">
              <a href="http://www.facebook.com/sharer.php?u=http://sanographix.github.io/rin/" class="btn btn-fb" onClick="ga('send', 'event', 'share-facebook', 'Click', 'navbar');javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
                <img src="http://static.tumblr.com/xlsgtjb/dB1ndl3rn/facebook.svg" width="14px">
                <span class="label">Share</span>
              </a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
  <header class="l-header l-section">
    <div class="l-container">
      <div class="header-content">
        <h1>Rin <span class="bold">4</span></h1>
        <h2>A lean, gulp-based HTML &amp; SASS boilerplate<br/>for better front-end coding</h2>
        <a href="https://github.com/sanographix/rin/" class="btn btn-large">Try it now</a>
        <p>version <a href="https://github.com/sanographix/rin/">4.0</a></p>
      </div>
      <div class="ad">
        <style>
        .ad-rin { width: 728px; height: 90px; }
        @media(max-width: 767px) { .ad-rin { width: 336px; height: 280px; } }
        @media(max-width: 359px) { .ad-rin { width: 300px; height: 250px; } }
        </style>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ad-rin -->
        <ins class="adsbygoogle ad-rin"
             style="display:inline-block"
             data-ad-client="ca-pub-7746351817364448"
             data-ad-slot="5714863414"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <p>
        Created &amp; Maintained by <a href="http://www.sanographix.net/">@sanographix</a>
      </p>
    </div>
  </header>
  <section class="l-features l-section">
    <div class="l-container">
      <h2>Features</h2>
      <div class="l-row row-first">
        <div class="l-span3">
          <img src="images/pages.svg">
          <h4><span class="badge">NEW</span> Support multiple pages</h4>
        </div>
        <div class="l-span3">
          <img src="images/reload.svg">
          <h4>Live browser reloading</h4>
        </div>
        <div class="l-span3">
          <img src="images/server.svg">
          <h4>Built in local server</h4>
        </div>
        <div class="l-span3">
          <img src="images/scss.svg">
          <h4>Scss support</h4>
        </div>
      </div>
      <div class="l-row">
        <div class="l-span3">
          <img src="images/performance.svg">
          <h4>CSS/JS/Images optimization</h4>
        </div>
        <div class="l-span3">
          <img src="images/prefix.svg">
          <h4>Auto CSS vendor prefixes</h4>
        </div>
        <div class="l-span3">
          <img src="images/grid.svg">
          <h4>Responsive grid system</h4>
        </div>
      </div>
    </div>
  </section>
  <section class="l-started l-section">
    <div class="l-container">
      <h2>Getting Started</h2>
      <pre>$ git clone git@github.com:sanographix/rin.git test-repo
$ cd test-repo
$ npm install
$ gulp</pre>
      <div class="btn-wrapper">
        <a href="https://github.com/sanographix/rin" class="btn btn-primary">Read the documentation</a>
      </div>
    </div>
  </section>
  <footer class="l-footer l-section">
    <div class="l-container">
      <div class="social-buttons">
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-count="vertical">ツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <div class="fb-like" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
      <p>
        <a href="https://github.com/sanographix/rin">GitHub project</a><br/>
        Created &amp; maintained by <a href="http://www.sanographix.net/">@sanographix</a>
      </p>
    </div>
  </footer>

<% include _footer %>