@font-face {
    font-family: 'TTNorms';
    src: url('../fonts/34FDD5_F_0.woff2') format('woff2'),
    url('../fonts/34FDD5_F_0.woff') format('woff'),
    url('../fonts/34FDD5_F_0.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TTNorms';
    src: url('../fonts/34FDD5_1_0.woff2') format('woff2'),
    url('../fonts/34FDD5_1_0.woff') format('woff'),
    url('../fonts/34FDD5_1_0.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}
