// Color Variables

$bg: #fff; // Background color
$bg-light: #EDF2F2; // Light background color

$text: #444; // Base text color
$text-header: #333; // Header text color
$text-light: #717584; // Light text color

$link: #6162B7; // Link text color
$hover: darken($link,8%); // Link text color(hover)

$border: #c8cfe4; // Border color


$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;

// Media Queries - Breakpoints

$mq-xs: "(max-width: 480px)";
$mq-sm: "(min-width: 576px)";
$mq-md: "(min-width: 768px)";
$mq-lg: "(min-width: 992px)";
$mq-xl: "(min-width: 1200px)";
$mq-xxl: "(min-width: 1600px)";
